<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd
">

    <!-- 开启包扫描 -->
    <context:component-scan base-package="com.kkb.controller,com.kkb.exceptions"/>

    <!-- 注解驱动 -->
    <mvc:annotation-driven/>

    <!-- 视图解析器 -->
    <bean id="internalResourceViewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
<!--        <property name="prefix" value="/"/>-->
        <property name="suffix" value=".html"/>
    </bean>

<!--    <mvc:view-controller path="/" view-name="/index.html"/>-->

    <!-- 静态资源处理器 -->
    <mvc:resources mapping="/assets/**" location="/assets/"/>
    <mvc:resources mapping="/Css/**" location="/Css/"/>
    <mvc:resources mapping="/doctor/**" location="/doctor/"/>
    <mvc:resources mapping="/front/**" location="/front/"/>
    <mvc:resources mapping="/hospital/**" location="/hospital/"/>
    <mvc:resources mapping="/Images/**" location="/Images/"/>
    <mvc:resources mapping="/Js/**" location="/Js/"/>
    <mvc:resources mapping="/medicine/**" location="/medicine/"/>
    <mvc:resources mapping="/registration/**" location="/registration/"/>
    <mvc:resources mapping="/Resource/**" location="/Resource/"/>
    <mvc:resources mapping="/Role/**" location="/Role/"/>
    <mvc:resources mapping="/User/**" location="/User/"/>
    <mvc:resources mapping="/index/**" location="/index/"/>
<!--    <mvc:resources mapping="/html/**" location="/html/"/>-->

    <!-- 拦截器 -->
    <mvc:interceptors>
        <!-- 跨域请求 -->
        <mvc:interceptor>
            <mvc:mapping path="/**"/>
            <bean class="com.kkb.interceptor.CORSInterceptor"/>
        </mvc:interceptor>
        <!-- 权限控制 -->
        <mvc:interceptor>
            <mvc:mapping path="/**"/>
            <mvc:exclude-mapping path="/index/**"/>
            <mvc:exclude-mapping path="/User/**"/>
            <mvc:exclude-mapping path="/**/fonts/*"/>
            <mvc:exclude-mapping path="/**/*.css"/>
            <mvc:exclude-mapping path="/**/*.js"/>
            <mvc:exclude-mapping path="/**/*.png"/>
            <mvc:exclude-mapping path="/**/*.gif"/>
            <mvc:exclude-mapping path="/**/*.jpg"/>
            <mvc:exclude-mapping path="/**/*.jpeg"/>
            <mvc:exclude-mapping path="/**/*login*"/>
            <mvc:exclude-mapping path="/**/*Login*"/>
            <bean class="com.kkb.interceptor.AccessControlInterceptor"/>
        </mvc:interceptor>
    </mvc:interceptors>

    <!-- 文件上传 -->
    <!-- 手动装配springmvc提供的文件解析器 -->
    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <!-- 上传大小限制5M = 5*1024*1024B -->
        <property name="maxUploadSize" value="52428800"/>
        <property name="defaultEncoding" value="utf-8"/>
    </bean>

<!--    &lt;!&ndash; SpringMVC全局异常处理未捕获到异常BUG定位 https://blog.csdn.net/Stone__Fly/article/details/107082085 &ndash;&gt;-->
<!--    <bean class="org.springframework.web.servlet.handler.SimpleMappingExceptionResolver" id="simpleMappingExceptionResolver">-->
<!--        &lt;!&ndash; 配置异常类型和具体视图页面的对应关系 &ndash;&gt;-->
<!--        <property name="exceptionMappings">-->
<!--            <props>-->
<!--                <prop key="com.kkb.exceptions.GlobalExceptionHandle">admin-login</prop>-->
<!--            </props>-->
<!--        </property>-->
<!--    </bean>-->
</beans>