<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kkb.mapper.DrugPeopleMapper">
  <resultMap id="BaseResultMap" type="com.kkb.pojo.DrugPeople">
    <id column="drbeh_id" jdbcType="INTEGER" property="drbehId" />
    <result column="dr_id" jdbcType="INTEGER" property="drId" />
    <result column="beh_id" jdbcType="INTEGER" property="behId" />
    <result column="dr_number" jdbcType="INTEGER" property="drNumber" />
    <result column="dr_give_number" jdbcType="INTEGER" property="drGiveNumber" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    drbeh_id, dr_id, beh_id, dr_number, dr_give_number
  </sql>
  <select id="selectByExample" parameterType="com.kkb.pojo.DrugPeopleExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from drug_people
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from drug_people
    where drbeh_id = #{drbehId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from drug_people
    where drbeh_id = #{drbehId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.kkb.pojo.DrugPeopleExample">
    delete from drug_people
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.kkb.pojo.DrugPeople">
    insert into drug_people (drbeh_id, dr_id, beh_id, 
      dr_number, dr_give_number)
    values (#{drbehId,jdbcType=INTEGER}, #{drId,jdbcType=INTEGER}, #{behId,jdbcType=INTEGER}, 
      #{drNumber,jdbcType=INTEGER}, #{drGiveNumber,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.kkb.pojo.DrugPeople">
    insert into drug_people
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="drbehId != null">
        drbeh_id,
      </if>
      <if test="drId != null">
        dr_id,
      </if>
      <if test="behId != null">
        beh_id,
      </if>
      <if test="drNumber != null">
        dr_number,
      </if>
      <if test="drGiveNumber != null">
        dr_give_number,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="drbehId != null">
        #{drbehId,jdbcType=INTEGER},
      </if>
      <if test="drId != null">
        #{drId,jdbcType=INTEGER},
      </if>
      <if test="behId != null">
        #{behId,jdbcType=INTEGER},
      </if>
      <if test="drNumber != null">
        #{drNumber,jdbcType=INTEGER},
      </if>
      <if test="drGiveNumber != null">
        #{drGiveNumber,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.kkb.pojo.DrugPeopleExample" resultType="java.lang.Long">
    select count(*) from drug_people
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update drug_people
    <set>
      <if test="record.drbehId != null">
        drbeh_id = #{record.drbehId,jdbcType=INTEGER},
      </if>
      <if test="record.drId != null">
        dr_id = #{record.drId,jdbcType=INTEGER},
      </if>
      <if test="record.behId != null">
        beh_id = #{record.behId,jdbcType=INTEGER},
      </if>
      <if test="record.drNumber != null">
        dr_number = #{record.drNumber,jdbcType=INTEGER},
      </if>
      <if test="record.drGiveNumber != null">
        dr_give_number = #{record.drGiveNumber,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update drug_people
    set drbeh_id = #{record.drbehId,jdbcType=INTEGER},
      dr_id = #{record.drId,jdbcType=INTEGER},
      beh_id = #{record.behId,jdbcType=INTEGER},
      dr_number = #{record.drNumber,jdbcType=INTEGER},
      dr_give_number = #{record.drGiveNumber,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.kkb.pojo.DrugPeople">
    update drug_people
    <set>
      <if test="drId != null">
        dr_id = #{drId,jdbcType=INTEGER},
      </if>
      <if test="behId != null">
        beh_id = #{behId,jdbcType=INTEGER},
      </if>
      <if test="drNumber != null">
        dr_number = #{drNumber,jdbcType=INTEGER},
      </if>
      <if test="drGiveNumber != null">
        dr_give_number = #{drGiveNumber,jdbcType=INTEGER},
      </if>
    </set>
    where drbeh_id = #{drbehId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.kkb.pojo.DrugPeople">
    update drug_people
    set dr_id = #{drId,jdbcType=INTEGER},
      beh_id = #{behId,jdbcType=INTEGER},
      dr_number = #{drNumber,jdbcType=INTEGER},
      dr_give_number = #{drGiveNumber,jdbcType=INTEGER}
    where drbeh_id = #{drbehId,jdbcType=INTEGER}
  </update>
</mapper>