<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kkb.mapper.DrugMapper">
  <resultMap id="BaseResultMap" type="com.kkb.pojo.Drug">
    <id column="dr_id" jdbcType="INTEGER" property="dr_id" />
    <result column="dr_url" jdbcType="VARCHAR" property="dr_url" />
    <result column="dr_inPrice" jdbcType="DECIMAL" property="dr_inPrice" />
    <result column="dr_outPrice" jdbcType="DECIMAL" property="dr_outPrice" />
    <result column="dr_name" jdbcType="VARCHAR" property="dr_name" />
    <result column="dr_type" jdbcType="VARCHAR" property="dr_type" />
    <result column="dr_simDesc" jdbcType="VARCHAR" property="dr_simDesc" />
    <result column="dr_expire_date" jdbcType="VARCHAR" property="dr_expire_date" />
    <result column="dr_detaDesc" jdbcType="VARCHAR" property="dr_detaDesc" />
    <result column="dr_fatory" jdbcType="VARCHAR" property="dr_fatory" />
    <result column="dr_direction" jdbcType="VARCHAR" property="dr_direction" />
    <result column="dr_remark" jdbcType="VARCHAR" property="dr_remark" />
    <result column="dr_number" jdbcType="INTEGER" property="dr_number" />
    <result column="dr_isDel" jdbcType="INTEGER" property="dr_isDel" />
    <result column="dr_create_time" jdbcType="TIMESTAMP" property="dr_create_time" />
    <result column="dr_update_time" jdbcType="TIMESTAMP" property="dr_update_time" />
    <result column="u_id" jdbcType="INTEGER" property="u_id" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    dr_id, dr_url, dr_inPrice, dr_outPrice, dr_name, dr_type, dr_simDesc, dr_expire_date, 
    dr_detaDesc, dr_fatory, dr_direction, dr_remark, dr_number, dr_isDel, dr_create_time, 
    dr_update_time, u_id
  </sql>
  <select id="selectByExample" parameterType="com.kkb.pojo.DrugExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from drug
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from drug
    where dr_id = #{dr_id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from drug
    where dr_id = #{dr_id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.kkb.pojo.DrugExample">
    delete from drug
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.kkb.pojo.Drug">
    insert into drug (dr_id, dr_url, dr_inPrice, 
      dr_outPrice, dr_name, dr_type, 
      dr_simDesc, dr_expire_date, dr_detaDesc, 
      dr_fatory, dr_direction, dr_remark, 
      dr_number, dr_isDel, dr_create_time, 
      dr_update_time, u_id)
    values (#{dr_id,jdbcType=INTEGER}, #{dr_url,jdbcType=VARCHAR}, #{dr_inPrice,jdbcType=DECIMAL}, 
      #{dr_outPrice,jdbcType=DECIMAL}, #{dr_name,jdbcType=VARCHAR}, #{dr_type,jdbcType=VARCHAR}, 
      #{dr_simDesc,jdbcType=VARCHAR}, #{dr_expire_date,jdbcType=VARCHAR}, #{dr_detaDesc,jdbcType=VARCHAR}, 
      #{dr_fatory,jdbcType=VARCHAR}, #{dr_direction,jdbcType=VARCHAR}, #{dr_remark,jdbcType=VARCHAR}, 
      #{dr_number,jdbcType=INTEGER}, #{dr_isDel,jdbcType=INTEGER}, #{dr_create_time,jdbcType=TIMESTAMP}, 
      #{dr_update_time,jdbcType=TIMESTAMP}, #{u_id,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.kkb.pojo.Drug">
    insert into drug
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="dr_id != null">
        dr_id,
      </if>
      <if test="dr_url != null">
        dr_url,
      </if>
      <if test="dr_inPrice != null">
        dr_inPrice,
      </if>
      <if test="dr_outPrice != null">
        dr_outPrice,
      </if>
      <if test="dr_name != null">
        dr_name,
      </if>
      <if test="dr_type != null">
        dr_type,
      </if>
      <if test="dr_simDesc != null">
        dr_simDesc,
      </if>
      <if test="dr_expire_date != null">
        dr_expire_date,
      </if>
      <if test="dr_detaDesc != null">
        dr_detaDesc,
      </if>
      <if test="dr_fatory != null">
        dr_fatory,
      </if>
      <if test="dr_direction != null">
        dr_direction,
      </if>
      <if test="dr_remark != null">
        dr_remark,
      </if>
      <if test="dr_number != null">
        dr_number,
      </if>
      <if test="dr_isDel != null">
        dr_isDel,
      </if>
      <if test="dr_create_time != null">
        dr_create_time,
      </if>
      <if test="dr_update_time != null">
        dr_update_time,
      </if>
      <if test="u_id != null">
        u_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="dr_id != null">
        #{dr_id,jdbcType=INTEGER},
      </if>
      <if test="dr_url != null">
        #{dr_url,jdbcType=VARCHAR},
      </if>
      <if test="dr_inPrice != null">
        #{dr_inPrice,jdbcType=DECIMAL},
      </if>
      <if test="dr_outPrice != null">
        #{dr_outPrice,jdbcType=DECIMAL},
      </if>
      <if test="dr_name != null">
        #{dr_name,jdbcType=VARCHAR},
      </if>
      <if test="dr_type != null">
        #{dr_type,jdbcType=VARCHAR},
      </if>
      <if test="dr_simDesc != null">
        #{dr_simDesc,jdbcType=VARCHAR},
      </if>
      <if test="dr_expire_date != null">
        #{dr_expire_date,jdbcType=VARCHAR},
      </if>
      <if test="dr_detaDesc != null">
        #{dr_detaDesc,jdbcType=VARCHAR},
      </if>
      <if test="dr_fatory != null">
        #{dr_fatory,jdbcType=VARCHAR},
      </if>
      <if test="dr_direction != null">
        #{dr_direction,jdbcType=VARCHAR},
      </if>
      <if test="dr_remark != null">
        #{dr_remark,jdbcType=VARCHAR},
      </if>
      <if test="dr_number != null">
        #{dr_number,jdbcType=INTEGER},
      </if>
      <if test="dr_isDel != null">
        #{dr_isDel,jdbcType=INTEGER},
      </if>
      <if test="dr_create_time != null">
        #{dr_create_time,jdbcType=TIMESTAMP},
      </if>
      <if test="dr_update_time != null">
        #{dr_update_time,jdbcType=TIMESTAMP},
      </if>
      <if test="u_id != null">
        #{u_id,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.kkb.pojo.DrugExample" resultType="java.lang.Long">
    select count(*) from drug
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update drug
    <set>
      <if test="record.dr_id != null">
        dr_id = #{record.dr_id,jdbcType=INTEGER},
      </if>
      <if test="record.dr_url != null">
        dr_url = #{record.dr_url,jdbcType=VARCHAR},
      </if>
      <if test="record.dr_inPrice != null">
        dr_inPrice = #{record.dr_inPrice,jdbcType=DECIMAL},
      </if>
      <if test="record.dr_outPrice != null">
        dr_outPrice = #{record.dr_outPrice,jdbcType=DECIMAL},
      </if>
      <if test="record.dr_name != null">
        dr_name = #{record.dr_name,jdbcType=VARCHAR},
      </if>
      <if test="record.dr_type != null">
        dr_type = #{record.dr_type,jdbcType=VARCHAR},
      </if>
      <if test="record.dr_simDesc != null">
        dr_simDesc = #{record.dr_simDesc,jdbcType=VARCHAR},
      </if>
      <if test="record.dr_expire_date != null">
        dr_expire_date = #{record.dr_expire_date,jdbcType=VARCHAR},
      </if>
      <if test="record.dr_detaDesc != null">
        dr_detaDesc = #{record.dr_detaDesc,jdbcType=VARCHAR},
      </if>
      <if test="record.dr_fatory != null">
        dr_fatory = #{record.dr_fatory,jdbcType=VARCHAR},
      </if>
      <if test="record.dr_direction != null">
        dr_direction = #{record.dr_direction,jdbcType=VARCHAR},
      </if>
      <if test="record.dr_remark != null">
        dr_remark = #{record.dr_remark,jdbcType=VARCHAR},
      </if>
      <if test="record.dr_number != null">
        dr_number = #{record.dr_number,jdbcType=INTEGER},
      </if>
      <if test="record.dr_isDel != null">
        dr_isDel = #{record.dr_isDel,jdbcType=INTEGER},
      </if>
      <if test="record.dr_create_time != null">
        dr_create_time = #{record.dr_create_time,jdbcType=TIMESTAMP},
      </if>
      <if test="record.dr_update_time != null">
        dr_update_time = #{record.dr_update_time,jdbcType=TIMESTAMP},
      </if>
      <if test="record.u_id != null">
        u_id = #{record.u_id,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update drug
    set dr_id = #{record.dr_id,jdbcType=INTEGER},
      dr_url = #{record.dr_url,jdbcType=VARCHAR},
      dr_inPrice = #{record.dr_inPrice,jdbcType=DECIMAL},
      dr_outPrice = #{record.dr_outPrice,jdbcType=DECIMAL},
      dr_name = #{record.dr_name,jdbcType=VARCHAR},
      dr_type = #{record.dr_type,jdbcType=VARCHAR},
      dr_simDesc = #{record.dr_simDesc,jdbcType=VARCHAR},
      dr_expire_date = #{record.dr_expire_date,jdbcType=VARCHAR},
      dr_detaDesc = #{record.dr_detaDesc,jdbcType=VARCHAR},
      dr_fatory = #{record.dr_fatory,jdbcType=VARCHAR},
      dr_direction = #{record.dr_direction,jdbcType=VARCHAR},
      dr_remark = #{record.dr_remark,jdbcType=VARCHAR},
      dr_number = #{record.dr_number,jdbcType=INTEGER},
      dr_isDel = #{record.dr_isDel,jdbcType=INTEGER},
      dr_create_time = #{record.dr_create_time,jdbcType=TIMESTAMP},
      dr_update_time = #{record.dr_update_time,jdbcType=TIMESTAMP},
      u_id = #{record.u_id,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.kkb.pojo.Drug">
    update drug
    <set>
      <if test="dr_url != null">
        dr_url = #{dr_url,jdbcType=VARCHAR},
      </if>
      <if test="dr_inPrice != null">
        dr_inPrice = #{dr_inPrice,jdbcType=DECIMAL},
      </if>
      <if test="dr_outPrice != null">
        dr_outPrice = #{dr_outPrice,jdbcType=DECIMAL},
      </if>
      <if test="dr_name != null">
        dr_name = #{dr_name,jdbcType=VARCHAR},
      </if>
      <if test="dr_type != null">
        dr_type = #{dr_type,jdbcType=VARCHAR},
      </if>
      <if test="dr_simDesc != null">
        dr_simDesc = #{dr_simDesc,jdbcType=VARCHAR},
      </if>
      <if test="dr_expire_date != null">
        dr_expire_date = #{dr_expire_date,jdbcType=VARCHAR},
      </if>
      <if test="dr_detaDesc != null">
        dr_detaDesc = #{dr_detaDesc,jdbcType=VARCHAR},
      </if>
      <if test="dr_fatory != null">
        dr_fatory = #{dr_fatory,jdbcType=VARCHAR},
      </if>
      <if test="dr_direction != null">
        dr_direction = #{dr_direction,jdbcType=VARCHAR},
      </if>
      <if test="dr_remark != null">
        dr_remark = #{dr_remark,jdbcType=VARCHAR},
      </if>
      <if test="dr_number != null">
        dr_number = #{dr_number,jdbcType=INTEGER},
      </if>
      <if test="dr_isDel != null">
        dr_isDel = #{dr_isDel,jdbcType=INTEGER},
      </if>
      <if test="dr_create_time != null">
        dr_create_time = #{dr_create_time,jdbcType=TIMESTAMP},
      </if>
      <if test="dr_update_time != null">
        dr_update_time = #{dr_update_time,jdbcType=TIMESTAMP},
      </if>
      <if test="u_id != null">
        u_id = #{u_id,jdbcType=INTEGER},
      </if>
    </set>
    where dr_id = #{dr_id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.kkb.pojo.Drug">
    update drug
    set dr_url = #{dr_url,jdbcType=VARCHAR},
      dr_inPrice = #{dr_inPrice,jdbcType=DECIMAL},
      dr_outPrice = #{dr_outPrice,jdbcType=DECIMAL},
      dr_name = #{dr_name,jdbcType=VARCHAR},
      dr_type = #{dr_type,jdbcType=VARCHAR},
      dr_simDesc = #{dr_simDesc,jdbcType=VARCHAR},
      dr_expire_date = #{dr_expire_date,jdbcType=VARCHAR},
      dr_detaDesc = #{dr_detaDesc,jdbcType=VARCHAR},
      dr_fatory = #{dr_fatory,jdbcType=VARCHAR},
      dr_direction = #{dr_direction,jdbcType=VARCHAR},
      dr_remark = #{dr_remark,jdbcType=VARCHAR},
      dr_number = #{dr_number,jdbcType=INTEGER},
      dr_isDel = #{dr_isDel,jdbcType=INTEGER},
      dr_create_time = #{dr_create_time,jdbcType=TIMESTAMP},
      dr_update_time = #{dr_update_time,jdbcType=TIMESTAMP},
      u_id = #{u_id,jdbcType=INTEGER}
    where dr_id = #{dr_id,jdbcType=INTEGER}
  </update>
</mapper>