<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kkb.mapper.HosRegisterMapper">
  <cache-ref namespace="com.kkb.mapper.UserMapper"/>
  <resultMap id="BaseResultMap" type="com.kkb.pojo.HosRegister">
    <id column="hosr_id" jdbcType="INTEGER" property="hosrId" />
    <result column="hosr_name" jdbcType="VARCHAR" property="hosrName" />
    <result column="hosr_idcar" jdbcType="VARCHAR" property="hosrIdcar" />
    <result column="hosr_medical" jdbcType="VARCHAR" property="hosrMedical" />
    <result column="hosr_reg_price" jdbcType="DECIMAL" property="hosrRegPrice" />
    <result column="hosr_phone" jdbcType="VARCHAR" property="hosrPhone" />
    <result column="hosr_self_price" jdbcType="INTEGER" property="hosrSelfPrice" />
    <result column="hosr_sex" jdbcType="INTEGER" property="hosrSex" />
    <result column="hosr_age" jdbcType="INTEGER" property="hosrAge" />
    <result column="hosr_work" jdbcType="VARCHAR" property="hosrWork" />
    <result column="hosr_look_doctor" jdbcType="VARCHAR" property="hosrLookDoctor" />
    <result column="d_id" jdbcType="INTEGER" property="dId" />
    <result column="hosr_remark" jdbcType="VARCHAR" property="hosrRemark" />
    <result column="hosr_state" jdbcType="INTEGER" property="hosrState" />
    <result column="hosr_is_del" jdbcType="INTEGER" property="hosrIsDel" />
    <result column="hosr_create_time" jdbcType="TIMESTAMP" property="hosrCreateTime" />
    <result column="hosr_update_time" jdbcType="TIMESTAMP" property="hosrUpdateTime" />
    <result column="u_id" jdbcType="INTEGER" property="uId" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    hosr_id, hosr_name, hosr_idcar, hosr_medical, hosr_reg_price, hosr_phone, hosr_self_price, 
    hosr_sex, hosr_age, hosr_work, hosr_look_doctor, d_id, hosr_remark, hosr_state, hosr_is_del, 
    hosr_create_time, hosr_update_time, u_id
  </sql>
  <!-- 自定义模糊查询 -->
  <select id="selectByRedefineCondition" parameterType="com.kkb.vo.RegisterQueryVo" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from hos_register
    <where>
        <if test="hosrId!=null">
          and hosr_id LIKE concat(concat('%',#{hosrId}),'%')
        </if>
        <if test="hosrName!=null">
          and hosr_name LIKE concat(concat('%',#{hosrName}),'%')
        </if>
        <if test="createTimeStartBlur!=null">
          and hosr_create_time LIKE concat(concat('%',#{createTimeStartBlur}),'%')
        </if>
        <if test="createTimeEndBlur!=null">
          and hosr_create_time LIKE concat(concat('%',#{createTimeEndBlur}),'%')
        </if>
        <if test="createTimeStart!=null">
          and hosr_create_time&gt;=#{createTimeStart}
        </if>
        <if test="createTimeEnd!=null">
          and hosr_create_time&lt;=#{createTimeEnd}
        </if>
        <if test="doctorId != null and doctorId.size()!=0 ">
          and d_id in
          <foreach collection="doctorId" item="item" index="index" open="(" close=")" separator=",">
            #{item}
          </foreach>
        </if>
        <if test="hosrId == null and hosrIdList != null and hosrIdList.size()!=0 ">
          and hosr_id in
          <foreach collection="hosrIdList" item="item" index="index" open="(" close=")" separator=",">
            #{item}
          </foreach>
        </if>
    </where>
  </select>
  <!-- 自定义模糊查id集合 -->
  <select id="selectHosIdsByRedefineCondition" parameterType="com.kkb.vo.RegisterQueryVo" resultType="java.lang.Integer">
    select
    <include refid="Base_Column_List" />
    from hos_register
    <where>
      <if test="hosrId!=null">
        and hosr_id LIKE concat(concat('%',#{hosrId}),'%')
      </if>
      <if test="hosrName!=null">
        and hosr_name LIKE concat(concat('%',#{hosrName}),'%')
      </if>
      <if test="createTimeStartBlur!=null">
        and hosr_create_time LIKE concat(concat('%',#{createTimeStartBlur}),'%')
      </if>
      <if test="createTimeEndBlur!=null">
        and hosr_create_time LIKE concat(concat('%',#{createTimeEndBlur}),'%')
      </if>
      <if test="createTimeStart!=null">
        and hosr_create_time&gt;=#{createTimeStart}
      </if>
      <if test="createTimeEnd!=null">
        and hosr_create_time&lt;=#{createTimeEnd}
      </if>
      <if test="doctorId != null and doctorId.size()!=0 ">
        and d_id in
        <foreach collection="doctorId" item="item" index="index" open="(" close=")" separator=",">
          #{item}
        </foreach>
      </if>
    </where>
  </select>
  <select id="selectByExample" parameterType="com.kkb.pojo.HosRegisterExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from hos_register
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from hos_register
    where hosr_id = #{hosrId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from hos_register
    where hosr_id = #{hosrId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.kkb.pojo.HosRegisterExample">
    delete from hos_register
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.kkb.pojo.HosRegister">
    insert into hos_register (hosr_id, hosr_name, hosr_idcar, 
      hosr_medical, hosr_reg_price, hosr_phone, 
      hosr_self_price, hosr_sex, hosr_age, 
      hosr_work, hosr_look_doctor, d_id, 
      hosr_remark, hosr_state, hosr_is_del, 
      hosr_create_time, hosr_update_time, u_id
      )
    values (#{hosrId,jdbcType=INTEGER}, #{hosrName,jdbcType=VARCHAR}, #{hosrIdcar,jdbcType=VARCHAR}, 
      #{hosrMedical,jdbcType=VARCHAR}, #{hosrRegPrice,jdbcType=DECIMAL}, #{hosrPhone,jdbcType=VARCHAR}, 
      #{hosrSelfPrice,jdbcType=INTEGER}, #{hosrSex,jdbcType=INTEGER}, #{hosrAge,jdbcType=INTEGER}, 
      #{hosrWork,jdbcType=VARCHAR}, #{hosrLookDoctor,jdbcType=VARCHAR}, #{dId,jdbcType=INTEGER}, 
      #{hosrRemark,jdbcType=VARCHAR}, #{hosrState,jdbcType=INTEGER}, #{hosrIsDel,jdbcType=INTEGER}, 
      #{hosrCreateTime,jdbcType=TIMESTAMP}, #{hosrUpdateTime,jdbcType=TIMESTAMP}, #{uId,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.kkb.pojo.HosRegister">
    insert into hos_register
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="hosrId != null">
        hosr_id,
      </if>
      <if test="hosrName != null">
        hosr_name,
      </if>
      <if test="hosrIdcar != null">
        hosr_idcar,
      </if>
      <if test="hosrMedical != null">
        hosr_medical,
      </if>
      <if test="hosrRegPrice != null">
        hosr_reg_price,
      </if>
      <if test="hosrPhone != null">
        hosr_phone,
      </if>
      <if test="hosrSelfPrice != null">
        hosr_self_price,
      </if>
      <if test="hosrSex != null">
        hosr_sex,
      </if>
      <if test="hosrAge != null">
        hosr_age,
      </if>
      <if test="hosrWork != null">
        hosr_work,
      </if>
      <if test="hosrLookDoctor != null">
        hosr_look_doctor,
      </if>
      <if test="dId != null">
        d_id,
      </if>
      <if test="hosrRemark != null">
        hosr_remark,
      </if>
      <if test="hosrState != null">
        hosr_state,
      </if>
      <if test="hosrIsDel != null">
        hosr_is_del,
      </if>
      <if test="hosrCreateTime != null">
        hosr_create_time,
      </if>
      <if test="hosrUpdateTime != null">
        hosr_update_time,
      </if>
      <if test="uId != null">
        u_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="hosrId != null">
        #{hosrId,jdbcType=INTEGER},
      </if>
      <if test="hosrName != null">
        #{hosrName,jdbcType=VARCHAR},
      </if>
      <if test="hosrIdcar != null">
        #{hosrIdcar,jdbcType=VARCHAR},
      </if>
      <if test="hosrMedical != null">
        #{hosrMedical,jdbcType=VARCHAR},
      </if>
      <if test="hosrRegPrice != null">
        #{hosrRegPrice,jdbcType=DECIMAL},
      </if>
      <if test="hosrPhone != null">
        #{hosrPhone,jdbcType=VARCHAR},
      </if>
      <if test="hosrSelfPrice != null">
        #{hosrSelfPrice,jdbcType=INTEGER},
      </if>
      <if test="hosrSex != null">
        #{hosrSex,jdbcType=INTEGER},
      </if>
      <if test="hosrAge != null">
        #{hosrAge,jdbcType=INTEGER},
      </if>
      <if test="hosrWork != null">
        #{hosrWork,jdbcType=VARCHAR},
      </if>
      <if test="hosrLookDoctor != null">
        #{hosrLookDoctor,jdbcType=VARCHAR},
      </if>
      <if test="dId != null">
        #{dId,jdbcType=INTEGER},
      </if>
      <if test="hosrRemark != null">
        #{hosrRemark,jdbcType=VARCHAR},
      </if>
      <if test="hosrState != null">
        #{hosrState,jdbcType=INTEGER},
      </if>
      <if test="hosrIsDel != null">
        #{hosrIsDel,jdbcType=INTEGER},
      </if>
      <if test="hosrCreateTime != null">
        #{hosrCreateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="hosrUpdateTime != null">
        #{hosrUpdateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="uId != null">
        #{uId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.kkb.pojo.HosRegisterExample" resultType="java.lang.Long">
    select count(*) from hos_register
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update hos_register
    <set>
      <if test="record.hosrId != null">
        hosr_id = #{record.hosrId,jdbcType=INTEGER},
      </if>
      <if test="record.hosrName != null">
        hosr_name = #{record.hosrName,jdbcType=VARCHAR},
      </if>
      <if test="record.hosrIdcar != null">
        hosr_idcar = #{record.hosrIdcar,jdbcType=VARCHAR},
      </if>
      <if test="record.hosrMedical != null">
        hosr_medical = #{record.hosrMedical,jdbcType=VARCHAR},
      </if>
      <if test="record.hosrRegPrice != null">
        hosr_reg_price = #{record.hosrRegPrice,jdbcType=DECIMAL},
      </if>
      <if test="record.hosrPhone != null">
        hosr_phone = #{record.hosrPhone,jdbcType=VARCHAR},
      </if>
      <if test="record.hosrSelfPrice != null">
        hosr_self_price = #{record.hosrSelfPrice,jdbcType=INTEGER},
      </if>
      <if test="record.hosrSex != null">
        hosr_sex = #{record.hosrSex,jdbcType=INTEGER},
      </if>
      <if test="record.hosrAge != null">
        hosr_age = #{record.hosrAge,jdbcType=INTEGER},
      </if>
      <if test="record.hosrWork != null">
        hosr_work = #{record.hosrWork,jdbcType=VARCHAR},
      </if>
      <if test="record.hosrLookDoctor != null">
        hosr_look_doctor = #{record.hosrLookDoctor,jdbcType=VARCHAR},
      </if>
      <if test="record.dId != null">
        d_id = #{record.dId,jdbcType=INTEGER},
      </if>
      <if test="record.hosrRemark != null">
        hosr_remark = #{record.hosrRemark,jdbcType=VARCHAR},
      </if>
      <if test="record.hosrState != null">
        hosr_state = #{record.hosrState,jdbcType=INTEGER},
      </if>
      <if test="record.hosrIsDel != null">
        hosr_is_del = #{record.hosrIsDel,jdbcType=INTEGER},
      </if>
      <if test="record.hosrCreateTime != null">
        hosr_create_time = #{record.hosrCreateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.hosrUpdateTime != null">
        hosr_update_time = #{record.hosrUpdateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.uId != null">
        u_id = #{record.uId,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update hos_register
    set hosr_id = #{record.hosrId,jdbcType=INTEGER},
      hosr_name = #{record.hosrName,jdbcType=VARCHAR},
      hosr_idcar = #{record.hosrIdcar,jdbcType=VARCHAR},
      hosr_medical = #{record.hosrMedical,jdbcType=VARCHAR},
      hosr_reg_price = #{record.hosrRegPrice,jdbcType=DECIMAL},
      hosr_phone = #{record.hosrPhone,jdbcType=VARCHAR},
      hosr_self_price = #{record.hosrSelfPrice,jdbcType=INTEGER},
      hosr_sex = #{record.hosrSex,jdbcType=INTEGER},
      hosr_age = #{record.hosrAge,jdbcType=INTEGER},
      hosr_work = #{record.hosrWork,jdbcType=VARCHAR},
      hosr_look_doctor = #{record.hosrLookDoctor,jdbcType=VARCHAR},
      d_id = #{record.dId,jdbcType=INTEGER},
      hosr_remark = #{record.hosrRemark,jdbcType=VARCHAR},
      hosr_state = #{record.hosrState,jdbcType=INTEGER},
      hosr_is_del = #{record.hosrIsDel,jdbcType=INTEGER},
      hosr_create_time = #{record.hosrCreateTime,jdbcType=TIMESTAMP},
      hosr_update_time = #{record.hosrUpdateTime,jdbcType=TIMESTAMP},
      u_id = #{record.uId,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.kkb.pojo.HosRegister">
    update hos_register
    <set>
      <if test="hosrName != null">
        hosr_name = #{hosrName,jdbcType=VARCHAR},
      </if>
      <if test="hosrIdcar != null">
        hosr_idcar = #{hosrIdcar,jdbcType=VARCHAR},
      </if>
      <if test="hosrMedical != null">
        hosr_medical = #{hosrMedical,jdbcType=VARCHAR},
      </if>
      <if test="hosrRegPrice != null">
        hosr_reg_price = #{hosrRegPrice,jdbcType=DECIMAL},
      </if>
      <if test="hosrPhone != null">
        hosr_phone = #{hosrPhone,jdbcType=VARCHAR},
      </if>
      <if test="hosrSelfPrice != null">
        hosr_self_price = #{hosrSelfPrice,jdbcType=INTEGER},
      </if>
      <if test="hosrSex != null">
        hosr_sex = #{hosrSex,jdbcType=INTEGER},
      </if>
      <if test="hosrAge != null">
        hosr_age = #{hosrAge,jdbcType=INTEGER},
      </if>
      <if test="hosrWork != null">
        hosr_work = #{hosrWork,jdbcType=VARCHAR},
      </if>
      <if test="hosrLookDoctor != null">
        hosr_look_doctor = #{hosrLookDoctor,jdbcType=VARCHAR},
      </if>
      <if test="dId != null">
        d_id = #{dId,jdbcType=INTEGER},
      </if>
      <if test="hosrRemark != null">
        hosr_remark = #{hosrRemark,jdbcType=VARCHAR},
      </if>
      <if test="hosrState != null">
        hosr_state = #{hosrState,jdbcType=INTEGER},
      </if>
      <if test="hosrIsDel != null">
        hosr_is_del = #{hosrIsDel,jdbcType=INTEGER},
      </if>
      <if test="hosrCreateTime != null">
        hosr_create_time = #{hosrCreateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="hosrUpdateTime != null">
        hosr_update_time = #{hosrUpdateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="uId != null">
        u_id = #{uId,jdbcType=INTEGER},
      </if>
    </set>
    where hosr_id = #{hosrId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.kkb.pojo.HosRegister">
    update hos_register
    set hosr_name = #{hosrName,jdbcType=VARCHAR},
      hosr_idcar = #{hosrIdcar,jdbcType=VARCHAR},
      hosr_medical = #{hosrMedical,jdbcType=VARCHAR},
      hosr_reg_price = #{hosrRegPrice,jdbcType=DECIMAL},
      hosr_phone = #{hosrPhone,jdbcType=VARCHAR},
      hosr_self_price = #{hosrSelfPrice,jdbcType=INTEGER},
      hosr_sex = #{hosrSex,jdbcType=INTEGER},
      hosr_age = #{hosrAge,jdbcType=INTEGER},
      hosr_work = #{hosrWork,jdbcType=VARCHAR},
      hosr_look_doctor = #{hosrLookDoctor,jdbcType=VARCHAR},
      d_id = #{dId,jdbcType=INTEGER},
      hosr_remark = #{hosrRemark,jdbcType=VARCHAR},
      hosr_state = #{hosrState,jdbcType=INTEGER},
      hosr_is_del = #{hosrIsDel,jdbcType=INTEGER},
      hosr_create_time = #{hosrCreateTime,jdbcType=TIMESTAMP},
      hosr_update_time = #{hosrUpdateTime,jdbcType=TIMESTAMP},
      u_id = #{uId,jdbcType=INTEGER}
    where hosr_id = #{hosrId,jdbcType=INTEGER}
  </update>
</mapper>