<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kkb.mapper.RoleMapper">
  <resultMap id="BaseResultMap" type="com.kkb.pojo.Role">
    <id column="r_id" jdbcType="INTEGER" property="r_id" />
    <result column="r_name" jdbcType="VARCHAR" property="r_name" />
    <result column="r_state" jdbcType="INTEGER" property="r_state" />
    <result column="r_isDel" jdbcType="INTEGER" property="r_isDel" />
    <result column="r_create_time" jdbcType="TIMESTAMP" property="r_create_time" />
    <result column="_update_time" jdbcType="TIMESTAMP" property="_update_time" />
    <result column="u_id" jdbcType="INTEGER" property="u_id" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    r_id, r_name, r_state, r_isDel, r_create_time, _update_time, u_id
  </sql>
  <select id="selectByExample" parameterType="com.kkb.pojo.RoleExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from role
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from role
    where r_id = #{r_id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from role
    where r_id = #{r_id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.kkb.pojo.RoleExample">
    delete from role
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.kkb.pojo.Role">
    insert into role (r_id, r_name, r_state, 
      r_isDel, r_create_time, _update_time, 
      u_id)
    values (#{r_id,jdbcType=INTEGER}, #{r_name,jdbcType=VARCHAR}, #{r_state,jdbcType=INTEGER}, 
      #{r_isDel,jdbcType=INTEGER}, #{r_create_time,jdbcType=TIMESTAMP}, #{_update_time,jdbcType=TIMESTAMP}, 
      #{u_id,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.kkb.pojo.Role">
    insert into role
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="r_id != null">
        r_id,
      </if>
      <if test="r_name != null">
        r_name,
      </if>
      <if test="r_state != null">
        r_state,
      </if>
      <if test="r_isDel != null">
        r_isDel,
      </if>
      <if test="r_create_time != null">
        r_create_time,
      </if>
      <if test="_update_time != null">
        _update_time,
      </if>
      <if test="u_id != null">
        u_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="r_id != null">
        #{r_id,jdbcType=INTEGER},
      </if>
      <if test="r_name != null">
        #{r_name,jdbcType=VARCHAR},
      </if>
      <if test="r_state != null">
        #{r_state,jdbcType=INTEGER},
      </if>
      <if test="r_isDel != null">
        #{r_isDel,jdbcType=INTEGER},
      </if>
      <if test="r_create_time != null">
        #{r_create_time,jdbcType=TIMESTAMP},
      </if>
      <if test="_update_time != null">
        #{_update_time,jdbcType=TIMESTAMP},
      </if>
      <if test="u_id != null">
        #{u_id,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.kkb.pojo.RoleExample" resultType="java.lang.Long">
    select count(*) from role
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update role
    <set>
      <if test="record.r_id != null">
        r_id = #{record.r_id,jdbcType=INTEGER},
      </if>
      <if test="record.r_name != null">
        r_name = #{record.r_name,jdbcType=VARCHAR},
      </if>
      <if test="record.r_state != null">
        r_state = #{record.r_state,jdbcType=INTEGER},
      </if>
      <if test="record.r_isDel != null">
        r_isDel = #{record.r_isDel,jdbcType=INTEGER},
      </if>
      <if test="record.r_create_time != null">
        r_create_time = #{record.r_create_time,jdbcType=TIMESTAMP},
      </if>
      <if test="record._update_time != null">
        _update_time = #{record._update_time,jdbcType=TIMESTAMP},
      </if>
      <if test="record.u_id != null">
        u_id = #{record.u_id,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update role
    set r_id = #{record.r_id,jdbcType=INTEGER},
      r_name = #{record.r_name,jdbcType=VARCHAR},
      r_state = #{record.r_state,jdbcType=INTEGER},
      r_isDel = #{record.r_isDel,jdbcType=INTEGER},
      r_create_time = #{record.r_create_time,jdbcType=TIMESTAMP},
      _update_time = #{record._update_time,jdbcType=TIMESTAMP},
      u_id = #{record.u_id,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.kkb.pojo.Role">
    update role
    <set>
      <if test="r_name != null">
        r_name = #{r_name,jdbcType=VARCHAR},
      </if>
      <if test="r_state != null">
        r_state = #{r_state,jdbcType=INTEGER},
      </if>
      <if test="r_isDel != null">
        r_isDel = #{r_isDel,jdbcType=INTEGER},
      </if>
      <if test="r_create_time != null">
        r_create_time = #{r_create_time,jdbcType=TIMESTAMP},
      </if>
      <if test="_update_time != null">
        _update_time = #{_update_time,jdbcType=TIMESTAMP},
      </if>
      <if test="u_id != null">
        u_id = #{u_id,jdbcType=INTEGER},
      </if>
    </set>
    where r_id = #{r_id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.kkb.pojo.Role">
    update role
    set r_name = #{r_name,jdbcType=VARCHAR},
      r_state = #{r_state,jdbcType=INTEGER},
      r_isDel = #{r_isDel,jdbcType=INTEGER},
      r_create_time = #{r_create_time,jdbcType=TIMESTAMP},
      _update_time = #{_update_time,jdbcType=TIMESTAMP},
      u_id = #{u_id,jdbcType=INTEGER}
    where r_id = #{r_id,jdbcType=INTEGER}
  </update>
</mapper>