<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kkb.mapper.UserMapper">
  <resultMap id="BaseResultMap" type="com.kkb.pojo.User">
    <id column="u_id" jdbcType="INTEGER" property="u_id" />
    <result column="u_loginName" jdbcType="VARCHAR" property="u_loginName" />
    <result column="u_passWord" jdbcType="VARCHAR" property="u_passWord" />
    <result column="u_trueName" jdbcType="VARCHAR" property="u_trueName" />
    <result column="u_email" jdbcType="VARCHAR" property="u_email" />
    <result column="u_state" jdbcType="INTEGER" property="u_state" />
    <result column="r_id" jdbcType="INTEGER" property="r_id" />
    <result column="u_isDel" jdbcType="INTEGER" property="u_isDel" />
    <result column="u_create_time" jdbcType="TIMESTAMP" property="u_create_time" />
    <result column="u_update_time" jdbcType="TIMESTAMP" property="u_update_time" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    u_id, u_loginName, u_passWord, u_trueName, u_email, u_state, r_id, u_isDel, u_create_time, 
    u_update_time
  </sql>
  <select id="selectByExample" parameterType="com.kkb.pojo.UserExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from user
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from user
    where u_id = #{u_id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from user
    where u_id = #{u_id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.kkb.pojo.UserExample">
    delete from user
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.kkb.pojo.User">
    insert into user (u_id, u_loginName, u_passWord, 
      u_trueName, u_email, u_state, 
      r_id, u_isDel, u_create_time, 
      u_update_time)
    values (#{u_id,jdbcType=INTEGER}, #{u_loginName,jdbcType=VARCHAR}, #{u_passWord,jdbcType=VARCHAR}, 
      #{u_trueName,jdbcType=VARCHAR}, #{u_email,jdbcType=VARCHAR}, #{u_state,jdbcType=INTEGER}, 
      #{r_id,jdbcType=INTEGER}, #{u_isDel,jdbcType=INTEGER}, #{u_create_time,jdbcType=TIMESTAMP}, 
      #{u_update_time,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.kkb.pojo.User">
    insert into user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="u_id != null">
        u_id,
      </if>
      <if test="u_loginName != null">
        u_loginName,
      </if>
      <if test="u_passWord != null">
        u_passWord,
      </if>
      <if test="u_trueName != null">
        u_trueName,
      </if>
      <if test="u_email != null">
        u_email,
      </if>
      <if test="u_state != null">
        u_state,
      </if>
      <if test="r_id != null">
        r_id,
      </if>
      <if test="u_isDel != null">
        u_isDel,
      </if>
      <if test="u_create_time != null">
        u_create_time,
      </if>
      <if test="u_update_time != null">
        u_update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="u_id != null">
        #{u_id,jdbcType=INTEGER},
      </if>
      <if test="u_loginName != null">
        #{u_loginName,jdbcType=VARCHAR},
      </if>
      <if test="u_passWord != null">
        #{u_passWord,jdbcType=VARCHAR},
      </if>
      <if test="u_trueName != null">
        #{u_trueName,jdbcType=VARCHAR},
      </if>
      <if test="u_email != null">
        #{u_email,jdbcType=VARCHAR},
      </if>
      <if test="u_state != null">
        #{u_state,jdbcType=INTEGER},
      </if>
      <if test="r_id != null">
        #{r_id,jdbcType=INTEGER},
      </if>
      <if test="u_isDel != null">
        #{u_isDel,jdbcType=INTEGER},
      </if>
      <if test="u_create_time != null">
        #{u_create_time,jdbcType=TIMESTAMP},
      </if>
      <if test="u_update_time != null">
        #{u_update_time,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.kkb.pojo.UserExample" resultType="java.lang.Long">
    select count(*) from user
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update user
    <set>
      <if test="record.u_id != null">
        u_id = #{record.u_id,jdbcType=INTEGER},
      </if>
      <if test="record.u_loginName != null">
        u_loginName = #{record.u_loginName,jdbcType=VARCHAR},
      </if>
      <if test="record.u_passWord != null">
        u_passWord = #{record.u_passWord,jdbcType=VARCHAR},
      </if>
      <if test="record.u_trueName != null">
        u_trueName = #{record.u_trueName,jdbcType=VARCHAR},
      </if>
      <if test="record.u_email != null">
        u_email = #{record.u_email,jdbcType=VARCHAR},
      </if>
      <if test="record.u_state != null">
        u_state = #{record.u_state,jdbcType=INTEGER},
      </if>
      <if test="record.r_id != null">
        r_id = #{record.r_id,jdbcType=INTEGER},
      </if>
      <if test="record.u_isDel != null">
        u_isDel = #{record.u_isDel,jdbcType=INTEGER},
      </if>
      <if test="record.u_create_time != null">
        u_create_time = #{record.u_create_time,jdbcType=TIMESTAMP},
      </if>
      <if test="record.u_update_time != null">
        u_update_time = #{record.u_update_time,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update user
    set u_id = #{record.u_id,jdbcType=INTEGER},
      u_loginName = #{record.u_loginName,jdbcType=VARCHAR},
      u_passWord = #{record.u_passWord,jdbcType=VARCHAR},
      u_trueName = #{record.u_trueName,jdbcType=VARCHAR},
      u_email = #{record.u_email,jdbcType=VARCHAR},
      u_state = #{record.u_state,jdbcType=INTEGER},
      r_id = #{record.r_id,jdbcType=INTEGER},
      u_isDel = #{record.u_isDel,jdbcType=INTEGER},
      u_create_time = #{record.u_create_time,jdbcType=TIMESTAMP},
      u_update_time = #{record.u_update_time,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.kkb.pojo.User">
    update user
    <set>
      <if test="u_loginName != null">
        u_loginName = #{u_loginName,jdbcType=VARCHAR},
      </if>
      <if test="u_passWord != null">
        u_passWord = #{u_passWord,jdbcType=VARCHAR},
      </if>
      <if test="u_trueName != null">
        u_trueName = #{u_trueName,jdbcType=VARCHAR},
      </if>
      <if test="u_email != null">
        u_email = #{u_email,jdbcType=VARCHAR},
      </if>
      <if test="u_state != null">
        u_state = #{u_state,jdbcType=INTEGER},
      </if>
      <if test="r_id != null">
        r_id = #{r_id,jdbcType=INTEGER},
      </if>
      <if test="u_isDel != null">
        u_isDel = #{u_isDel,jdbcType=INTEGER},
      </if>
      <if test="u_create_time != null">
        u_create_time = #{u_create_time,jdbcType=TIMESTAMP},
      </if>
      <if test="u_update_time != null">
        u_update_time = #{u_update_time,jdbcType=TIMESTAMP},
      </if>
    </set>
    where u_id = #{u_id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.kkb.pojo.User">
    update user
    set u_loginName = #{u_loginName,jdbcType=VARCHAR},
      u_passWord = #{u_passWord,jdbcType=VARCHAR},
      u_trueName = #{u_trueName,jdbcType=VARCHAR},
      u_email = #{u_email,jdbcType=VARCHAR},
      u_state = #{u_state,jdbcType=INTEGER},
      r_id = #{r_id,jdbcType=INTEGER},
      u_isDel = #{u_isDel,jdbcType=INTEGER},
      u_create_time = #{u_create_time,jdbcType=TIMESTAMP},
      u_update_time = #{u_update_time,jdbcType=TIMESTAMP}
    where u_id = #{u_id,jdbcType=INTEGER}
  </update>
</mapper>